.tabbar-top{
    background: #fff;
    height: 58px;
    position:fixed;
    top:0;
    &:before{
        border-top: 0;
    }
    .icon {
        width: 27px;
        height: 27px;
        display: inline-block;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        &.icon-promote {
            background-image: url(~@/images/toolbar/cart.png) !important;
        }
        &.icon-category {
            background-image: url(~@/images/toolbar/my.png) !important;
        }
        
    }
   
}
.tabbar-mian{
    margin-top: 58px;
}

.commentRouter{
    width:100%;
    height:100%;
    overflow: hidden;
    position: relative;
    overflow-y: auto;
    background: #fff;
    ul{
        li{
            height: 45px;
        }
    }
}
