.card-demo-flex {
    display: flex;
  }
.card-demo-content {
    padding: 10px 0;
}
.card-padding {
    padding: 15px;
}
.card-demo-flex > div {
    flex: 1;
    text-align: center;
    font-size: 12px;
}
.card-demo-flex span {
    color: #f74c31;
}

.payment {
    padding: 10px 15px;
    background: #fff;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    color: inherit;

    h3,p {
        display: flex;
        justify-content: space-between;
    }

    h3 .els {
        max-width: 200px;
    }

    p {
        margin-top: 10px;

        .els.left {
            max-width: 160px;
        }

        .els.right {
            max-width: 95px;
        }
    }

    em {
        font-style: normal;
        color: #f74c31;
    }
}

a {
    color: #333;
}

.router-link-active {
    color: #333;
}

// .wu-all {
//     height: 60%;
// }

// .btn {
//     position: absolute;
//     bottom: 0;
// }